#eur-usd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    border: #000 3px solid;
    border-radius: 30px;
    margin: 10px;
}

#usd-eur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkseagreen;
    border: #000 3px solid;
    border-radius: 30px;
    margin: 10px;
}

#titulo {
    font-size: 1.5em;
    color: #000;
    text-align: center;
}

#euro {
    font-size: 1em;
    color: #000;
    text-align: center;
    margin: 5px;
}

#dolar {
    font-size: 1em;
    color: #000;
    text-align: center;
    margin: 5px;
}

#convertir {
    font-size: 1em;
    color: #000;
    text-align: center;
    margin: 5px;
}

#resultado {
    font-size: 1em;
    color: #000;
    text-align: center;
    margin: 5px;
}

#pie {
    font-size: 1em;
    color: #000;
    text-align: center;
    margin: 5px;
}

a {
    text-decoration: none;
}
